.attribution { 
    font-size: 11px; text-align: center;
 }
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body{
    background:url(../images/bg-bottom.svg) left bottom no-repeat, url(../images/bg-top.svg) right top no-repeat;
	margin:0;
	padding:0;
}
.container-fluid{
    height: 100vh !important;
}

.main{
    padding-bottom: 5%;
    padding-top: 6%;
    padding-left: 10%;
    padding-right: 10%; 
}