body{
    background:url(../images/bg-bottom.svg) left bottom no-repeat, url(../images/bg-top.svg) right top no-repeat;
	margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}
.container-fluid{
    height: 100vh !important;
}

.main{
    padding-bottom: 5%;
    padding-top: 6%;
    padding-left: 10%;
    padding-right: 10%; 
}